@import 'tailwindcss';

@import 'tw-animate-css';

/* Design System */
@import './lib/assets/styles/design-system/base.css';

/* Base Layer */
@import './lib/assets/styles/layer/base.css';
/* Theme */
@import './lib/assets/styles/layer/theme.css';

@custom-variant dark (&:is(.dark *));
